<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDbService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4000/DbService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDbService" contract="DbService.IDbService"
                name="BasicHttpBinding_IDbService" />
        </client>
    </system.serviceModel>
</configuration>